@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@font-face {
  font-family: "Kapakana Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Kapakana Regular"),
    url("./fonts/Kapakana[wght].woff") format("woff");
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  background: #fff;
}
.body {
  padding: 0 96px;
}
#preloader{
  background: #fff url(./img/loading.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
a {
  text-decoration: none;
}
.nav {
  width: 100%;
  padding: 15px 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav .nav-links a {
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.nav #nav-check {
  display: none;
}

.nav .nav-title {
  font-family: Kapakana Regular;
  color: var(--black, #333);
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-btn {
  text-decoration: none;
  background: #4e342e;
  padding: 14px 28px;
  border-radius: 8px;
  color: #fff !important;
}
.contact-mob {
  display: none !important;
}
.switch_lang_mob {
  display: none;
  background-color: transparent;
}

.switch_lang_mob,
.switch_lang_des {
  border: none;
}

.switch_lang_mob:focus,
.switch_lang_des:focus {
  outline: none;
}
@media (max-width: 768px) {
  .body {
    padding: 0 18px;
  }
  .switch_lang_des {
    display: none;
  }
  .switch_lang_mob {
    display: block;
  }
  .contact-btn {
    width: auto;
    margin: 0 10px;
  }
  .nav > .nav-btn {
    display: flex;
  }
  .nav > .nav-btn > label {
    display: block;
    padding: 20px 0 20px 20px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0;
    box-shadow: 0px 200px 400px -56px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 200px 400px -56px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 200px 400px -56px rgba(0, 0, 0, 0.25);
    z-index: 10;
    text-align: center;
  }
  .nav .nav-links a {
    padding: 15px 0;
    display: block;
    color: #333;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(38% - 50px);
    overflow-y: auto;
  }
  .nav-links a i {
    display: inline-block;
    color: var(--myteal);
    padding-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .nav .nav-links {
    gap: 10px;
  }
  .purchase-info button {
    width: 100%;
  }
}

/* -------------------contact----------------- */
.contact {
  display: flex;
  justify-content: space-between;
  width: 728px;
  margin: 0 auto;
  padding: 100px 0;
}

.boglanish {
  width: 50%;
}

.boglanish div {
  color: #333;
}

.call,
.loc {
  display: flex;
  align-items: center;
}

.call svg,
.loc svg {
  padding-right: 7px;
}

.aloqa {
  display: block;
}

.aloqa input {
  width: 312px;
  display: block;
  border: none;
  height: 48px;
  border-radius: 12px;
  background-color: rgb(234, 234, 234);
  margin: 15px 0;
}

.aloqa input::placeholder {
  padding: 0 10px;
  color: #000;
  opacity: 0.3;
  font-weight: 700;
}

.aloqa button {
  font-weight: 700;
  background: #4e342e;
  width: 312px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
}
@media (max-width: 768px) {
  .contact {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .boglanish,
  .aloqa input,
  .aloqa,
  .aloqa button {
    width: 100%;
  }
}
/* -----------------order----------------- */

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.order img {
  width: 100%;
  display: block;
}
.img-display {
  width: 95%;
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) .img-item:nth-child(4) .img-item:nth-child(5) {
  width: 100px;
  height: 100px;
}
.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-item:hover {
  opacity: 0.8;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-rating {
  color: #ffc107;
}
.product-rating span {
  font-weight: 600;
  color: #252525;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  margin: 0;
  background-size: 18px;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input {
  width: 60px;
}
.purchase-info .btn:first-of-type {
  background: #256eff;
}
.purchase-info .btn:last-of-type {
  background: #f64749;
}
.purchase-info .btn:hover {
  opacity: 0.9;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}
.purchase-info button {
  font-weight: 700;
  background: #4e342e;
  border-radius: 8px;
  color: #fff;
  display: inline-flex;
  padding: 14px 75px;
  justify-content: center;
  align-items: center;
}
.inf ul {
  display: grid;
  grid-template-columns: auto auto;
}
.inf ul li {
  padding: 5px 0;
  color: rgb(99, 99, 99);
}
.narx {
  padding: 20px 0;
}
.narx2 {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
.tar {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    display: block;
  }
  .img-display {
    width: 100%;
  }
  .img-select {
    width: 100%;
  }
  .card-imgs {
    display: flex;
    justify-content: center;
  }
}

/* -----------------fikrlar--------------- */

.fikrlar {
  margin: 50px 0;
}

.full-boxer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
  width: 100%;
  gap: 40px;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comment-box {
  max-width: 45%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #33333334;
}

.Profile {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  border: #33333374 1px solid;
  overflow: hidden;
  border-radius: 50%;
  /* margin-right: 10px; */
  /* margin: 20px 0 0 0; */
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Name strong {
  color: black;
  font-size: 18px;
}

.Name span {
  color: gray;
  margin-top: 2px;
}

.comment p {
  color: black;
}

@media (max-width: 768px) {
  .full-boxer {
    display: block;
  }
  .comment-box {
    max-width: 100%;
    margin: 25px 0;
  }
}

/* -----------------footer------------------ */

.footer {
  background-color: rgba(78, 52, 46, 0.1);
  padding: 60px 96px;
  display: flex;
  justify-content: space-between;
}

.footerel {
  width: 30%;
}

.footer-item {
  display: block;
  padding: 20px 0;
  font-size: 18px;
}

.footer-item:nth-child(1) div:nth-child(2) {
  padding: 23px 0;
}

.footer-item:nth-child(2) div:nth-child(2) {
  padding: 15px 0;
}

.footer-item a {
  color: #333;
  text-decoration: none;
}

.social-ins {
  display: flex;
  color: rgb(215, 70, 70);
  align-items: center;
}

.social-ins svg,
.social-tg svg {
  padding-right: 10px;
}

.social-tg {
  display: flex;
  color: #0088cc;
  align-items: center;
}

.mobile-res {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    padding: 20px;
  }
  .footer-item {
    font-size: 16px;
  }

  .footerel {
    width: 100%;
  }

  .mobile-res {
    width: 100%;
  }
}

/* Carousel */

.mySlides {
  display: none;
}
.slideshow-container img {
  width: 100%;
  vertical-align: middle;
  max-height: 500px;
  border-radius: 8px;
  object-fit: cover;
}

.slideshow-container {
  max-width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .active,
 .dot:hover {
  background-color: #717171;
}

.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .slideshow-container .prev,
  .slideshow-container .next,
  .slideshow-container .text {
    font-size: 11px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .slideshow-container{
    max-height: 200px;
  }
  .slideshow-container img {
    max-height: 200px;
  }
}
/* Products */

.products {
  margin: 50px 0;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  gap: 30px;
  margin: 50px 0;
}

.products_heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pcard {
  max-width: 230px;
}

.pcard-img {
  width: 100%;
  border-radius: 15px;
}

.pcard-title {
  color: var(--black, #333);
  font-family: General Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.9;
}

.for-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pcard-price {
  color: var(--Primary, #4e342e);
  font-family: General Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pcard-cart {
  border: 1px solid #4e342e;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.products_load {
  display: flex;
  justify-content: center;
}

.products_load button {
  padding: 15px 120px;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  background: rgba(78, 52, 46, 0.28);
}

.single_content {
  display: flex;
  border-radius: 15px;
  border: 2px solid #33333365;
  max-width: 1000px;
  margin: 0 auto;
}

.single_content .sc_img_m {
  display: none;
}
.single_content .sc_img {
  display: block;
}

.sc_detail {
  width: 50%;
  padding: 30px 40px;
}

.sc_title {
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sc_desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 25px 0;
}

.sc_btn button {
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  background: #4e342e;
  color: #fff;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: auto auto;
    gap: 15px;
  }
  .products_heading {
    font-size: 27px;
  }
  .pcard {
    max-width: 182px;
  }
  .products_load button {
    width: 100%;
    font-size: 16px;
    padding: 15px 0;
  }
  .pcard-price {
    font-size: 16px;
  }
  .single_content {
    display: block;
    max-height: 606px;
  }
  .sc_detail {
    width: 80%;
    padding: 20px;
    height: 50%;
  }
  .single_content .sc_img_m {
    display: block;
    width: 100%;
    height: 50%;
  }
  .single_content .sc_img {
    display: none;
  }
  .sc_btn button {
    width: 100%;
  }
}

/* ------------------------ About----------------- */

.about-main {
  display: flex;
  gap: 100px;
}

.about img {
  width: 50%;
}

.about .address div {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.about > .about-main > div > .desc2 {
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .about .about-main {
    display: block;
    justify-content: space-around;
  }
  .about img {
    width: 100%;
  }
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.breadcrumbs .bc_item1 {
  color: #333333b7;
}

@media (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
