/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.body {
    padding: 0 96px;
}

.header {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-links .contact_btn {
    text-decoration: none;
    background: gray;
    padding: 14px 28px;
    border-radius: 8px;
    color: #fff;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li a {
    color: #333;
    text-decoration: none;
}

.language-button {
    margin-right: 20px;
    display: flex;
}

.switch_lang {
    border: none;
}

.switch_lang:focus {
    outline: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 1200px) {
    .body {
        padding: 0 45px;
        /* Tablet */
    }
}

@media screen and (max-width: 768px) {
    .body {
        padding: 0 24px;
        /* Mobile */
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle i {
        font-size: 24px;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        background-color: #fff;
        width: 100%;
    }

    .nav-links.active ul li {
        margin-right: 0;
        text-align: center;
        padding: 10px 0;
    }
   


}

/* -------------------contact----------------- */
.contact {
    display: flex;
    justify-content: space-between;
    width: 728px;
    margin: 0 auto;
    padding: 100px 0;
}

.boglanish {
    width: 50%;

}

.boglanish div{
    color:#333;
}

.call, .loc {
    display: flex;
    align-items: center;
}

.call i,.loc i {
    padding: 0 7px;
}

.aloqa {
    display: block;
}

.aloqa input {
    width: 312px;
    display: block;
    border: none;
    height: 48px;
    border-radius: 12px;
    background-color: rgb(234, 234, 234);
    margin: 15px 0;

}

.aloqa input::placeholder {
    padding: 0 10px;
    color: #000;
    opacity: .3;
    font-weight: 700;
}

.aloqa button {
    font-weight: 700;
    background: #4E342E;
    width: 312px;
    height: 48px;
    border-radius: 8px;
    color: #fff;

}
/* -----------------order----------------- */

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
 .order img{
    width: 100%;
    display: block;
}
 .img-display{
    width: 95%;
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;

}
.img-showcase img{
    min-width: 100%;
}
 .img-select{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
 .img-item{
    margin: 0.3rem ;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3)
.img-item:nth-child(4)
.img-item:nth-child(5){
    width: 100px;
    height: 100px;
}
.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-item:hover{
    opacity: 0.8;
}
 .product-content{
    /* padding: 2rem 1rem; */
}
 .product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
 .product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    /* list-style: ; */
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    /* padding-left: 1.7rem; */
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}
.purchase-info button{
    font-weight: 700;
    background: #4E342E;
    width: 312px;
    height: 48px;
    border-radius: 8px;
    color: #fff;

}
.inf ul{
    display: grid;
    grid-template-columns: auto auto;
}
.inf ul li{
padding: 5px 0;
color:rgb(99, 99, 99);
}
.narx {
    padding: 20px 0;
}
.narx2{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}
.tar{
    font-size: 20px;
    font-weight: bold;
}



@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    
}

@media(max-width: 768px){
    .card-wrapper{
        display: block;
    }
    .product-imgs{
        margin: 0;
        padding: 0;
    }
    .card-imgs{
        display: flex;
        justify-content: center;
    }
}
/* -----------------footer------------------ */

.footer {
    background-color: rgba(78, 52, 46, 0.10);
    padding: 60px;
    display: flex;
    justify-content: space-between;
   
}

.footerel {
    width: 30%;
}


.footer-el2 ul li a {
    color: #333;
    text-decoration: none;

}

.footer-el2 ul {
    list-style: none;
    /* width: 200px; */

}

.footer-el2 ul li {
    padding-top: 20px;

}

.footer-el3 a {
    color: #333;
    text-decoration: none;
    padding-left: 10px;



}



.social-ins {
    display: flex;
    color: rgb(215, 70, 70);
    size: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
    align-items: center;
}

.social-ins i {
    font-size: 30px;
}

.social-tg i {
    font-size: 25px;
}


.social-tg {
    display: flex;
    color: #0088cc;
    align-items: center;
}

.mobile-res {
    width: 50%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .footer {
        display: block;
    }

    .footerel {
        width: 100%;
    }

    .mobile-res {
        width: 100%;
    }
    .purchase-info button{
        width: 100%;
    }
}